<launch>
	<!-- Launch the static publisher for the offset of the sonars to base_link frame-->
	<include file="$(find sonar_positioning)/launch/bc_static_base_link_sonar_mount.launch" />

    <rosparam command="load" file="$(find sonar_positioning)/sonar_positioning.yaml" />
    <node name="sonar_positioning" pkg="sonar_positioning" type="sonar_position" respawn="true" output="screen" />
    <node name="sonar_transformation" pkg="sonar_positioning" type="sonar_transformer" respawn="true" output="screen" />

</launch>
