<launch>
    <node name="sonar_positioning" pkg="sonar_positioning" type="sonar_position" args="/dev/ttyUSB0" respawn="true" output="screen" />
    <rosparam>
        /sonar/calibration_length: 200
        /sonar/samples_per_direction: 5
        /sonar/beam_width/x: [0.03490658504, 6.2482787221]
        /sonar/beam_width/y: [0.03490658504, 1.5358897418]
    </rosparam>
</launch>
